.activityContainer {
  display: flex;
  justify-content: center;
}

.pointsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pointsCircle {
  cursor: pointer;
}
