.pointsCircleContainer {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}

.pointsText {
  margin-top: 1.8rem !important;
  margin-bottom: 0 !important;
}
