.headerContainer {
  height: 100px;
  background-color: #f1f6f8;
  border-bottom: 1px solid #dee5ea;
  display: flex;
  justify-content: space-between;
}

.pointsContainer {
  display: flex;
  padding-top: 0.5rem;
}

.pointsHeading {
  display: inline-block;
  padding-top: 1rem;
}

.welcomeText {
  float: right;
}

.selectUserText {
  font-size: 2rem;
  margin: 2.5rem auto 0 auto;
}
