.headerContainer {
  height: 100px;
  background-color: #f1f6f8;
  border-bottom: 1px solid #dee5ea;
  display: flex;
  width: 100%;
}

.rewardLink {
  width: 25%;
  margin: 75px 0 0 10px;
}

.pointsContainer {
  display: inline-block;
  margin: 0 auto;
  width: 85px;
  padding-top: 0.5rem;
  text-align: center;
}

.welcomeText {
  width: 25%;
  float: right;
  display: flex;
  justify-content: flex-end;
  margin: 75px 10px 0 0;
}

.selectUserText {
  font-size: 2rem;
  margin: 2.5rem auto 0 auto;
}
